<div>
  <%= button_to "Create Account", new_user_path, method: :get %>
</div>

<%= form_for(:session, url: login_path, method: :post) do |f| %>

  <div class="form-group container">
    <h4>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, placeholder: "Enter Email", class: "form-control" %>
    </h4>
    <h4>
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, placeholder: "Enter Password", class: "form-control" %>
    </h4>
    <%= f.submit "Sign in", class: "btn btn-default btn-block" %>
  </div> 
<% end %>
