<h4>Pending Fulfillments</h4>

<%= render "shared/fulfillment_filters" %>

  <table id="pending-fulfillments" class="table table-hover">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>email</th>
      <th>Cubby</th>
      <th>Module</th>
      <th>Week</th>
      <th>Fulfilled?</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="allFulfillments">
    <% @fulfillments.each do |fulfillment| %>
      <tr class="fulfillment" data-id=<%= fulfillment.id %> id="sub-id-<%= fulfillment.subscription.id %>-week-<%= fulfillment.week %>">
        <td class="first_name"><%= fulfillment.user.first_name %></td>
        <td class="last_name"><%= fulfillment.user.last_name %></td>
        <td class="email"><%= fulfillment.user.email %></td>
        <td class="cubby_location">Cubby Location</td>
        <td class="mod"><%= fulfillment.subscription.mod %></td>
        <td class="week"><%= fulfillment.week %></td>
        <td class="status">
        <% if fulfillment.fulfilled? %>
          Done
        <% else %>
          <%= link_to "Filled", admin_fulfillment_path(id: fulfillment, fulfill: "true"), method: :patch %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
