<h1>Your Subscription</h1>

<ul>
  <li>Id: <%= @subscription.id %></li>
  <li>Price: <%= @subscription.price %></li>
  <li>Module: <%= @subscription.module %></li>
  <li>Weeks: <%= @subscription.weeks %></li>
  <li>Package: <%= @subscription.package.name %></li>
  <li>Package Items: <%= @subscription.package.items.map(&:name).join(", ") %></li>
</ul>
